.pokemon-sprite {
  display: inline-block;
  background-image: url(../../../icons-sprite-new.png);
  background-repeat: no-repeat;
  position: relative;
  -moz-transform-origin: 0 0;
  height: 57px;
  width: 57px;
  transform: scale(0.53) translateX(-3px) translateY(-3px);
  transform-origin: left top;

  @for $i from 1 through 251 {
    &.n#{$i} {
      background-position: -#{(($i - 1) % 25) * 80}px -#{floor(($i - 1) / 25) * 80}px
    }
  }
}
