.pokemon-sprite {
  display: inline-block;
  background-image: url(../../../icons-sprite.png);
  background-repeat: no-repeat;
  top: 6px;
  position: relative;
  -moz-transform-origin: 0 0;
  height: 57px;
  width: 57px;

  @for $i from 1 through 151 {
    &.n#{$i} {
      background-position: -#{(($i - 1) % 12) * 57}px -#{floor(($i - 1) / 12) * 57}px
    }
  }
}
